@using MvcCore.App.Extensions
@model MvcCore.App.ViewModels.FornecedorViewModel

@{ ViewData["Title"] = "Excluir Fornecedor"; }

<h2 class="text-center font-weight-bold font-daysOne">
    <span class="fas fa-trash"></span> @ViewData["Title"]
</h2>
<h5 class="text-center">Atenção!! Essa ação não poderá ser desfeita.</h5>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Documento)
        </dt>
        <dd class="col-sm-10">
            @this.FormataDocumento(Model.TipoFornecedor, Model.Documento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TipoFornecedor)
        </dt>
        <dd class="col-sm-10">
            @this.FormataNomeTipoPessoa(Model.TipoFornecedor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ativo)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button disabled type="submit" class="btn btn-danger">
            <span class="fa fa-trash"></span> Excluir
        </button>&nbsp;
        <a class="btn btn-dark" href="javascript:window.history.back();">Voltar</a>
    </form>

    <div>
        <partial name="_DetalhesEndereco" />
    </div>

</div>
